# Archivos de configuración con credenciales (Seguridad)
config/database.php

# Archivos autogenerados (Caché)
config/rutas_cache.php

# Configuraciones locales del editor (VS Code)
.vscode/

# Archivos ocultos del sistema operativo
.DS_Store
Thumbs.db